@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: "DM Sans", serif;
  letter-spacing: 0.05em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pre-slide {
  transition: transform 330ms ease-in-out;
}

.slide-x-right {
  transform: translateX(100%);
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (min-width: 1280px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 1;
  }
}
